* {
  box-sizing: border-box;
}

html {
  background-color: $bg-color;
}

body {
  overflow-y: scroll;
  margin: 0;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: $black;
}

ul {
  list-style: none;
}

:global(#root) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav {
  flex: none;
}

.body {
  flex-grow: 1;
}
