.list {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  min-height: 220px;

  .observer {
    display: none;
    height: 30px;

    &.show {
      display: block;
    }
  }

  > :not(:last-child) {
    margin-bottom: 15px;
  }
}
