.container {
  position: relative;

  ul {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: $box-shadow;
    border-radius: 10px;
    border: 1px solid rgba($black, 0.4);
    text-align: center;
    word-break: keep-all;
    overflow: hidden;
    z-index: 10;

    li {
      font-family: $gmarket-sans;
      padding: 15px 20px;
      cursor: pointer;

      &:hover {
        background-color: #f4f4f4;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba($black, 0.4);
      }
    }
  }

  &.horiz {
    ul {
      display: flex;

      li {
        border: none;

        &:not(:last-child) {
          border-right: 1px solid rgba($black, 0.4);
        }
      }
    }
  }
}
