.container {
  position: absolute;
  padding: 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba($black, 0.2);
  box-shadow: $box-shadow;
  text-align: center;
  word-break: keep-all;

  > :not(:last-child) {
    border-bottom: 1px solid rgba($black, 0.2);
  }
}
