.container {
  overflow: hidden;
  position: relative;

  .slide {
    display: flex;

    .slideItem {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      width: 100%;

      .editor {
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .bulletContainer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;

    .bullets {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #c9c9c9ae;

      &:not(:last-child) {
        margin-right: 3px;
      }

      &.selected {
        background-color: rgba(5, 119, 250, 0.582);
      }
    }
  }

  .arrow {
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    background-color: $black;
    color: #fff;
    border-radius: 50%;
    z-index: 1;
    box-shadow: $box-shadow;
    cursor: pointer;

    &.left {
      left: 12px;
    }

    &.right {
      right: 12px;
    }
  }
}
