.container {
  position: relative;

  .cropBtn {
    width: 35px;
    height: 35px;
    background-color: $black;
    border: 1px solid rgba($black, 0.3);
    border-radius: 50%;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      color: #fff;
    }
  }

  .cropList {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: calc(100% + 20px);
    left: 0;
    background-color: $black;
    border-radius: 10px;
    border: 1px solid rgba($black, 0.3);
    box-shadow: $box-shadow;
    overflow: hidden;

    li {
      padding: 15px 20px;
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        pointer-events: none;
        color: #fff;
      }
    }

    > :not(:last-child) {
      border-bottom: 1px solid #fff;
    }
  }
}
