.interactions {
  span {
    font-size: 2rem;
    cursor: pointer;
  }

  .liked {
    font-variation-settings: "FILL" 1;
    color: $red;
  }

  .marked {
    font-variation-settings: "FILL" 1;
  }

  :not(:last-child) {
    margin-right: 5px;
  }

  :last-child {
    float: right;
  }
}
