.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.65);
}

.container {
  max-width: 325px;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s ease-out;
  z-index: 9;
}
