.listItem {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba($black, 0.2);
  box-shadow: $box-shadow;

  .slide {
    border-top: 1px solid rgba($black, 0.2);
    border-bottom: 1px solid rgba($black, 0.2);

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .body {
    .contents {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      margin: 10px 0 0;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba($black, 0.2);

    .comment {
      margin: 0;
      cursor: pointer;
    }

    .createdAt {
      margin: 0;
      font-size: 0.9rem;
      opacity: 0.8;
    }
  }

  > :not(.slide) {
    padding: 12px 20px;
  }
}
