.list {
  padding: 0;

  > :not(:last-child) {
    margin-bottom: 20px;
  }
}

.spinner {
  height: calc(100vh - 112px);
}

.observer {
  margin: 45px 0;
  display: none;

  &.show {
    display: block;
  }
}
