.container {
  display: flex;
  flex-direction: column;

  .historyHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0;

    > :nth-child(1) {
      font-size: 1.1rem;
      font-weight: 600;
    }

    > :nth-child(2) {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .list {
    padding-top: 10px;
    flex-grow: 1;
    overflow: auto;

    .listItem {
      padding: 5px 10px;

      &:hover {
        background-color: $bg-color;
      }

      a {
        display: flex;
        align-items: center;

        .texts {
          margin-left: 10px;

          .desc {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }
        }
      }
    }

    .empty {
      text-align: center;
      margin-top: 20px;
      opacity: 0.8;
    }
  }

  .observer {
    display: none;

    &.show {
      display: block;
    }
  }
}
