.container {
  width: 100%;
  max-width: 400px;
  margin: 150px auto 0;
  padding: 20px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: $box-shadow;

  .logo {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  .signup {
    text-align: center;
  }

  .find {
    padding: 0 20px;
    text-align: right;
    opacity: 0.7;
  }

  > :not(:last-child) {
    margin-bottom: 20px;
  }
}
