.form {
  padding: 0 20px;

  .inputContainer {
    position: relative;

    label {
      padding: 0 5px;
      position: absolute;
      top: calc(50% - 15px - 0.5rem);
      left: 10px;
      transition: 0.2s ease-in-out;
      background-color: #fff;
      font-size: 1.1rem;
      cursor: unset;
    }

    input {
      width: 100%;
      padding: 20px 15px;
      border-radius: 5px;
      border: 1px solid rgba($black, 0.35);
      outline: none;
      font-size: 1.2rem;
      transition: box-shadow 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
      }
    }

    .cautions {
      margin: 0;
      height: 20px;
      color: $red;
    }

    &.invalid {
      label {
        color: $red !important;
      }
      input {
        border-color: $red !important;
      }
    }

    &.focused {
      label {
        color: $blue;
        top: calc(0% - 0.8rem);
        transform: scale(0.9);
      }
      input {
        border-color: $blue;
      }
    }
  }

  .btn {
    width: 100%;
    font-size: 1.2rem;
  }

  > * {
    margin-bottom: 12px;
  }
}
