.form {
  padding: 0 20px;

  .inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;

    label {
      color: $black;
      margin-bottom: 5px;
    }

    input {
      padding: 10px 15px;
      border-radius: 5px;
      border: 1px solid rgba($black, 0.35);
      outline: none;
      font-size: 1.2rem;
      transition: box-shadow 0.2s ease-in-out;

      &:focus {
        outline: $blue solid 2px;
      }

      &:hover {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
      }
    }

    .cautions {
      position: absolute;
      bottom: -35px;
      right: 0;
      color: $red;
    }
  }

  .btn {
    width: 100%;
    font-size: 1.2rem;
  }

  > :not(:last-child) {
    margin-bottom: 25px;
  }
}
