.container {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;

  .header {
    padding: 10px 22px;
    border-bottom: 1px solid rgba($black, 0.3);
    display: flex;
    justify-content: space-between;
  }

  .body {
    display: flex;

    .textSection {
      width: 0;
      transition: width 0.2s ease-in-out;

      &.open {
        width: 100px;
      }
    }
  }
}
