.container {
  margin: 0 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;

  .header {
    padding: 10px 22px;
    border-bottom: 1px solid rgba($black, 0.3);
    font-size: 1.1rem;
    line-height: 20px;

    .indicator {
      width: 100%;
      text-align: center;
    }

    .prev {
      cursor: pointer;
      float: left;
    }

    .next {
      cursor: pointer;
      float: right;
    }
  }

  .body {
    display: flex;

    .imgSection {
      width: 100vw;
      max-width: 80vh;
      aspect-ratio: 1;
      background-color: $bg-color;
    }

    .textSection {
      width: 0;
      transition: width 0.2s ease-in-out;

      &.open {
        width: 340px;
        border-left: 1px solid rgba($black, 0.3);
      }
    }
  }
}
